.logo-shadow-arrow{
    left: unset;
    right: -30px;
}
.hl-border{
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
    padding-right: 1em;
    padding-left: 4em;
}
.nav-classic .header-middle-inner .contact-info .quickcontact .get-tuch{
    margin-left: 20px;
    margin-right: 0;
}